<header>
    <div class="logo">
        <a href="/">
            <h2>cutsomer info</h2>
        </a>
    </div>
    <form class="search">
        <input type="search" name="" id="">
        <button class="btn">search</button>
    </form>
    <ul class="nav">
        <a href="/">
            <li class="<%= current==='info'? 'active': '' %> ">info</li>
        </a>
        <a href="/user/add">
            <li class="<%= current==='add'? 'active': '' %> ">add</li>
        </a>
        <div class="btn" id="toggle" onclick="">dark</div>
    </ul>
</header>