<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title> <%= myTitle %> </title>
    <style>
        
    </style>
</head>
<body class="success-body flx-center">
    <div class="success">
        <div class="mess"> data successfuly processed </div>
        <div class="btns flx-between">
            <a href="/"><div class="btn light-btn">home</div></a>
            <a href="/user/add"><div class="btn light-btn">add another customer</div></a>
        </div>
    </div>
</body>
</html>