<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title> <%= myTitle %> </title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #eee;
        }
        .success {
            padding: 15px 25px;
            border-radius: 10px;
            background-color: #fff;
            color: forestgreen;
            font-weight: bold;
            text-align: center;
            font-size: 32px;
            text-transform: capitalize;
        }
    </style>
</head>
<body>
    <div class="success">
        data sended successfully 
    </div><br><hr>
    <a href="/"><div class="btn dark-btn">home</div></a>
    <a href="/add"><div class="btn dark-btn">add another customer</div></a>
</body>
</html>